@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Hubballi&family=Major+Mono+Display&family=Miltonian+Tattoo&display=swap');


* {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #5EA51D;
    --secondary: #06112A;
}



/* Fade In Css */

.home-container .appear-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}

.home-container .appear-up.active {
    opacity: 1;
    transform: translateX(0px);
}

.home-container .appear-down {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease-in-out;
}

.home-container .appear-down.active {
    opacity: 1;
    transform: translateY(0px);
}


.home-container .appear-right {
    opacity: 0;
    transform: translateX(51px);
    transition: all 1s ease-in-out;
}

.home-container .appear-right.active {
    opacity: 1;
    transform: translateX(0px);
}

.home-container .appear-left {
    opacity: 0;
    transform: translateX(-107px);
    transition: all 1s ease-in-out;
}

.home-container .appear-left.active {
    opacity: 1;
    transform: translateX(0px);
}

.home-container .appear-left-hero {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
}

.home-container .appear-left-hero.active {
    opacity: 1;
    transform: translateX(0px);
}

/* Fade In Css End */




.home-container {
    overflow-x: hidden;
    text-align: center;
}

.home-container .section-title {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.2rem;
}

.home-container .section {
    padding: 1em;
}

.home-container .section-title {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.2rem;
    -webkit-text-stroke: 0.03rem;
}

.home-container .section-title span {
    color: var(--primary);
}

.home-container .section-p {
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1rem;
    font-size: .85rem;

}

.home-container .section.hero-section {
    padding: 9em 1em 3em 1em;
    position: relative;
}

.home-container .section.hero-section .hero-growth,
.home-container .section.hero-section .hero-phone {
    display: none;
}

.home-container .section.hero-section .hero-watermark {
    width: 15em;
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
}

.home-container .section.hero-section .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.home-container .section.hero-section .hero-content .hero-title {
    font-family: "Anonymous Pro", monospace;
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 0.03rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.home-container .section.hero-section .hero-content .hero-title .typewriter {
    display: block;
    height: 1em;
    color: var(--primary);
}

.home-container .section.hero-section .hero-content .hero-title .hero-title-span {
    font-family: "Hubballi", sans-serif;
    position: relative;
    display: inline-block;
    font-size: 1.9rem;
    -webkit-text-stroke: thin;
}

.home-container .section.hero-section .hero-content .hero-title .hero-title-span::before {
    content: '';
    height: .15em;
    background: var(--primary);
    display: block;
    border-radius: 6em;
    margin-bottom: 0.05em;
}

.home-container .section.hero-section .hero-content .hero-title .hero-title-span .o-span {
    color: var(--primary);
}

.home-container .section.hero-section .hero-content .hero-p {
    font-family: "Hubballi", sans-serif;
    font-size: 1.05rem;
}

.home-container .cta-btn {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 0;
}

.home-container .cta-btn .a-span {
    color: var(--primary);
}

.home-container .cta-btn .call-icon {
    width: 1.4em;
}

.home-container .section.services-section {
    padding: 0;
    position: relative;
}

.home-container .section.services-section .services-watermark {
    position: absolute;
    width: 23em;
}

.home-container .section.services-section .services-watermark.services-watermark1 {
    left: -2em;
    top: 50%;
    transform: translateY(-50%);
}

.home-container .section.services-section .services-watermark.services-watermark2 {
    left: 11em;
    top: 100%;
    transform: translateY(-100%);
}

.home-container .section.services-section svg {
    display: none;
}

.home-container .section.services-section .services-nav {
    position: relative;
    padding: 1em 0;

}

.home-container .section.services-section .services-nav::before {
    content: '';
    display: block;
    height: 100%;
    width: 2em;
    background: linear-gradient(to right, var(--primary), transparent);
    position: absolute;
    left: 0;
    top: 0;
}

.home-container .section.services-section .services-nav::after {
    content: '';
    display: block;
    height: 100%;
    width: 2em;
    background: linear-gradient(to left, var(--primary), transparent);
    position: absolute;
    right: 0;
    top: 0;

}

.home-container .section.services-section .services-nav .services-nav-ul {
    display: none;
}

.home-container .section.services-section .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    padding: 1.5em 1em;
    z-index: 1;
    position: relative;

}

.home-container .section.services-section .services-container .service-title {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.2rem;
}

.home-container .section.services-section .services-container .service-title span {
    color: var(--primary);
}

.home-container .section.services-section .services-container .service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.home-container .section.about-section {
    position: relative;
    padding: 1em 0;
}

.home-container .section.about-section .doodles .doodle {
    position: absolute;
    display: none;
}

.home-container .section.about-section .about-wrapper {

}

.home-container .section.about-section .about-wrapper .peeping-img {
    display: none;
}

.home-container .section.about-section .about-wrapper .about-container {
    background: linear-gradient(to bottom, var(--secondary), var(--primary));
    padding: 2.5em 1em;
    position: relative;
}

.home-container .section.about-section .about-wrapper .about-container .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    z-index: 1;
    position: relative;
    color: #ffffff;
}

.home-container .section.about-section .about-wrapper .about-container .overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.home-container .section.about-section .about-wrapper .about-container .overlay .curvy-abstract {
    width: 50%;
    height: 100%;
    opacity: 14%;
    object-fit: cover;
    user-select: none;
}

.home-container .section.cta-section {
    padding: 3em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-container .section.cta-section .calendly-container {
    transform: translateX(.5em);
}

.home-container .section.contact-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home-container .section.contact-section .contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.home-container .section.contact-section .contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.home-container .section.contact-section .contact-right form input {
    font-family: "Hubballi", sans-serif;
}

.home-container .section.contact-section .contact-right form label {
    font-family: "Hubballi", sans-serif;
}

.home-container .section.contact-section .contact-right form div {
    width: 100%;
}

.home-container .section.contact-section .contact-right form .send-btn {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 0;
    width: 100%;
}

.home-container .section.contact-section .contact-right form .send-btn .message-span {
    color: var(--primary);
}

.home-container .section.contact-section .contact-right form .send-btn .send-icon {
    width: 1em;
}

.home-container .section.footer-section {
    position: relative;
    background: var(--secondary);
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Hubballi', sans-serif;
    justify-content: space-between;
    margin-top: 3em;
}

.home-container .section.footer-section .overlay {
    position: absolute;
    z-index: 0;
    inset: 0;
}

.home-container .section.footer-section .overlay .footer-abstract {
    width: 50%;
    height: 100%;
    opacity: 14%;
    object-fit: cover;
    user-select: none;
}

.home-container .section.footer-section .footer-left {
    z-index: 1;
    position: relative;
}

.home-container .section.footer-section .footer-left .footer-logo {
    width: 3em;
}

.home-container .section.footer-section .footer-right {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.home-container .section.footer-section .footer-right .email-div {
    display: flex;
    gap: .5em;
}

.home-container .section.footer-section .footer-right .email-div .email-icon {
    width: 1em;
}

.home-container .section.footer-section .footer-right .email-div span {
    font-size: .8rem;
}

.home-container .section.footer-section .footer-right .terms-div {
    display: flex;
    gap: .5em;
}

.home-container .section.footer-section .footer-right .terms-div a {
    font-size: .8rem;
}