@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Hubballi&family=Major+Mono+Display&display=swap');


* {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #5EA51D;
    --secondary: #06112A;
}



.nav-container {
    background-color: transparent;
    color: var(--black);
    padding: 1.5em 1em 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 11;
    transition: all 0.5s ease-in-out;
}

.nav-container.active {
    width: unset;
    top: 1em;
    left: 1em;
    right: 1em;
    border-radius: 2em;
    box-shadow: 0em 0.125em 1.1875em rgb(255 255 255 / 16%);
    transition: all 0.2s ease-in-out;
    border: 0.1em solid var(--primary);
    padding: 0.7em 0.5em;
    background: #ffffff;
}

.nav-container .ribbon {
    position: absolute;
    left: 0;
    right: 0;
    height: .2em;
    background: var(--primary);
}

.nav-container.active .ribbon {
    display: none;
}


.nav-container .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .top-nav .soc-burger {
    display: flex;
    gap: 1em;
}

.nav-container .top-nav .soc-burger .cta-a {
    display: none;
}

.nav-container .top-nav .logo {
    width: 3.5em;
    animation: logo-anim 0.9s forwards;
}

.nav-container.active .logo {
    position: absolute;
    top: -1.5em;
    left: 1em;
}

@keyframes logo-anim {
    from {
        transform: translateX(-1em);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-container .top-nav .tools {
    display: none;
}

.nav-container .top-nav .burger {
    width: 2em;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    animation: burger-anim 0.9s forwards;
    color: var(--black);
}

.nav-container .top-nav .soc-btn {
    display: inline-flex;
    padding: 0.22em 0.6875em;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.0625em;
    border: 0.125em solid var(--primary, #27AAE1);
    background: #ffffff;
    animation: soc-anim 0.9s forwards;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


@keyframes burger-anim {
    from {
        transform: translateX(1.5em);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.nav-container .top-nav .burger.burger-toggle {
    color: var(--primary);
}


.nav-container .top-nav .top-nav-ul {
    display: none;
}

.nav-container .top-nav .top-nav-ul li.courses-li .dropdown-container .dropdown-wrapper {
    display: none;
}


.nav-container ul {
    list-style-type: none;
}

.nav-container .ul-div {
    height: 0em;
}

.nav-container .ul-div .ul-div-container {
    display: none;
    height: 100%;
}

.nav-container .ul-div.active-ul-div {
    height: fit-content;
    max-height: 90vh;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    background: #33333391;
    border-radius: 0.625em 0.625em;
    margin-top: 0.5em;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(.5em);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 16px rgb(8 7 16 / 60%);
}

.nav-container .ul-div .ul-div-container.active-ul-div-container {
    display: flex;
    align-items: center;
    padding: 0em 1em;
}

.nav-container .ul-div ul.active-nav-ul {
    transform: translateX(0%);
    z-index: 800;
    display: block;
    width: 100%;
}

@keyframes nav-link-fade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.nav-container .ul-div .ul-div-container ul li {
    margin: 1em 0em;
    text-align: left;
    width: 100%;
    border-bottom: .1px solid #ffffff4a;
    padding-bottom: 0.2em;
    cursor: pointer;
}

.nav-container .ul-div .ul-div-container ul li .book-btn {
    text-transform: capitalize;
    width: 100%;
    padding: .3em 1em;
    font-family: "Anonymous Pro", monospace;
    font-weight: 600;
    border-radius: 0    ;
}

.nav-container .ul-div .ul-div-container ul li .book-btn span {
    color: var(--secondary);
    font-weight: 600;
}


.nav-container .ul-div .ul-div-container ul li:last-child {
    margin: 1em 0em 1.5em 0em;
    border-bottom: none;
}

.nav-container .ul-div .ul-div-container ul a {
    color: #ffffff;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 0.8rem;
    cursor: pointer;
}

.nav-container .ul-div .ul-div-container ul li img {
    width: 1.3em;
}


@media(min-width: 400px) {
    .nav-container {
        padding: 1.5em 1.5em 1em 1.5em;
    }
}

@media(min-width: 500px) {

    .nav-container.active {
        padding: 1em 0.7em;
    }

    .nav-container .top-nav .logo-ul {
        display: flex;
        align-items: center;
        gap: 3em;
    }

    .nav-container.active .top-nav .logo-ul {
        gap: 6em;
    }

    .nav-container .top-nav .soc-burger .cta-a {
        display: unset;
        text-decoration: underline;
        font-family: "Anonymous Pro", monospace;
        font-size: 1rem;
        cursor: pointer;
    }

    .nav-container .top-nav .soc-burger .cta-a:hover {
        font-weight: bold;
    }

    .nav-container .top-nav .soc-burger .cta-a span {
        color: var(--primary);
    }

    .nav-container .top-nav .burger {
        display: none;
    }

    .nav-container .top-nav .top-nav-ul {
        display: flex;
        gap: 1em;
    }

    .nav-container .top-nav .top-nav-ul li {
        position: relative;
        cursor: pointer;
    }

    .nav-container .top-nav .top-nav-ul li::after {
        content: '';
        display: block;
        height: 0.1em;
        background: var(--primary);
        width: 0;
        transition: all 0.5s ease-in-out;
    }

    .nav-container .top-nav .top-nav-ul li:hover::after {
        width: 100%;
    }


    .nav-container .top-nav .top-nav-ul li a {
        text-decoration: none;
        font-family: "Anonymous Pro", monospace;
        font-size: .9rem;
    }
    
}

@media(min-width: 600px) {
    .nav-container {
        padding: 1.5em 1.875em 1em 1.875em;
    }
}

@media(min-width: 650px) {
    .nav-container .top-nav .logo-ul {
        gap: 4em;
    }

    .nav-container.active .top-nav .logo-ul {
        gap: 7em;
    }
}

@media(min-width: 700px) {
    .nav-container .top-nav .logo {
        width: 4em;
    }
}

@media(min-width: 800px) {
    .nav-container {
        padding: 1.5em 3.125em 1em 3.125em;
    }

    .nav-container .top-nav .logo-ul {
        gap: 5em;
    }

}

